<nav class="header-pos header-font header-fon withoutPrint">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a class="logo" href="/">
          <img src="./logo.png" alt="logo" id="logo" width="7%" class="shake">
        </a>
      </div>

      <div class="col">

      </div>

      <div class="col" style="text-align: right">
        <div class="withoutPrint">
          <button class="btn btn-outline-success" style="display: inline; margin-top: 3px" (click)="userOutput()">Вихід</button>
        </div>

      </div>
    </div>
  </div>
</nav>
