.content{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;//100%-left
  background-color: white;
  height: 100%;//100%-top
}

.input-error{
  color: yellow;
  font-variant: small-caps;
}

.input-field{
  margin: 3px;
}

.card-body {
  cursor: pointer;
  background-color: black;
}

.card:hover{
  background-color: white;
}

.btn:hover{
  color: yellow;
}
